html {
    background-color: #d0d9d2;
}

h1,
#recipe-names {
    text-align: center;
}

#recipe-names {
    list-style: none;
    padding-left: 0px;
    margin: auto;
}

#recipe-names > li {
    padding: 35px 0px 35px 0px;
}